/bin/
/dist/
.DS_Store
/.scannerwork/
/sonar-project.properties
/sonarqube.sh
/node_modules
/js
package-lock.json
/out
/lib
/legal
/include
/conf
/release
/TMXValidator-darwin-x64
/TMXValidator-win32-x64
/TMXValidator-darwin-arm64